################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ConsoleApp/ConsoleApp/ConsoleApp/obj/Debug/netcoreapp3.1
/ConsoleApp/ConsoleApp/ConsoleApp/bin/Debug/netcoreapp3.1
/ConsoleApp/ConsoleApp/.vs/ConsoleApp/DesignTimeBuild
/ConsoleApp/ConsoleApp/ConsoleApp/obj
.vs
