@page
@using VideoSite.Localization
@using VideoSite.Web.Pages.Videos
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<VideoSiteResource> L
@section scripts
{
    <abp-script src="/Pages/Videos/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>@L["Videos"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="VideosTable"></abp-table>
    </abp-card-body>
</abp-card>